h1 {
    font-size: 2.6em;
    line-height: 1.2em;
    margin-bottom: 25px;
}

.no-spacing {
    margin: 0;
    padding: 0;
}

.top-spacing {
    margin-top: 10px;
}

.top-spacing-double {
    margin-top: 20px;
}

.widget {
    padding: 15px;
}