.product-images {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    vertical-align: top;
}

.product-images img {
   width: 350px;
   position: absolute;
   margin: auto;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}

.product-info {
    display: inline-block;
    margin-left: 40px;
}

.price {
    font-size: 2.3em;
}

.price sup {
    font-size: .5em;
    line-height: 1.6em;
    padding-left: 2px;
}

.buy-form label {
    text-align: left;
    width: 60px;
    padding: 0;
}

.main-action-button,
.main-action-button:visited,
.main-action-button:hover,
.main-action-button:active {
    padding: 10px 25px;
}

.related-comment {
    color: #777;
    margin: 5px 0;
}

.answer-box {
    padding: 10px 30px;
}

.info-outside-title {
   color: #3A87AD;
}

.ok-outside-title {
   color: #468847;
}

.carousel {
    width: 400px;
}

.carousel li {
    padding: 10px;
}

.carousel figure {
    width: 80px;
}

.carousel img {
    width: 80px;
    height: 80px;
}

.carousel figcaption {
    font-size: .9em;
    line-height: 1.2em;
}

.ch-carousel-prev,
.ch-carousel-next {
    font-size: 3em;
    line-height: 1.4em;
}

.tab-content {
    padding: 10px;
    max-width: 800px;
}